@import "variables";

* {
   margin: 0;
   padding: 0;
   font-family: 'Geometria', sans-serif;
   box-sizing: border-box;
}

body {
   max-width: 1920px;
   background: $black;
   color: $white;
   overflow-x: hidden;
}

.container {
   @media (max-width: $sm-tablet) {
      padding: 0 20px;

   }

   position: relative;
   padding: 0 30px;
   margin: 0 auto;
   max-width: 1780px;
}

.main {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.header {
   @media (max-width: $sm-desktop) {
      padding-left: 50px;
   }
   @media (max-width: $tablet) {
      padding-left: 0;
      padding-top: 60px;
      margin-bottom: 250px;
      justify-content: end;
   }

   margin-bottom: 351px;
   padding-top: 80px;
   padding-left: 180px;
   display: flex;
   justify-content: space-between;

   &__links {
      @media (max-width: $tablet) {
         display: none;
         position: absolute;
         transform: translateX(50%);
         left: 0;
         width: auto;
         height: auto;
         background-color: rgba(255, 255, 255, 0.5);
         transition: transform .3s ease-in-out;

         &.active {
            padding: 40px;
            transform: translateX(0px);
            display: flex;
            flex-direction: column;
            z-index: 100;
         }
      }

      padding-right: 50px;
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
   }

   &__link {
      @media (max-width: $tablet) {
         font-size: 18px;
      }

      font-size: 24px;
      line-height: 120%;
      text-transform: uppercase;
      color: $white;
      text-decoration: none;
      transition: color .2s ease-in-out;

      &:hover,
      &:active {
         color: $orange;
      }
   }

   &__burger {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      height: 20px;
      animation: none;
      transition: transform 2s ease-in-out;

      &:hover {
         animation: rotate 2s ease-in-out forwards;
      }

      &:hover  {
         transform: rotate(360deg);
      }
   }

   &__burger-point {
      width: 10px;
      height: 10px;
      background: $white;
      border-radius: 50%;
   }

}

.content {
   @media (max-width: $sm-tablet) {
      margin-right: 0;
   }

   margin-bottom: 20px;
   margin-right: 114px;
   display: flex;
   justify-content: flex-end;
   flex: 1;

   &__wrapper {
      @media (max-width: $sm-tablet) {
         max-width: none;
      }

      max-width: 871px;
   }

   &__title {
      @media (max-width: $sm-desktop) {
         font-size: 160px;
      }
      @media (max-width: $tablet) {
         font-size: 120px;
      }
      @media (max-width: $sm-tablet) {
         font-size: 40px;
      }
      
      margin: 0;
      font-size: 200px;
      font-weight: 900;
      line-height: 120%;
      font-family: 'Gotham Pro', sans-serif;
   }

   &__descr {
      @media (max-width: $sm-desktop) {
         font-size: 40px;
      }
      @media (max-width: $tablet) {
         font-size: 32px;
      }
      @media (max-width: $sm-tablet) {
         font-size: 22px;
      }


      font-size: 48px;
      line-height: 140%;
      font-weight: 500;
   }
}

.footer {
   padding-bottom: 60px;
   text-align: right;

   &__links {
      @media (max-width: $sm-tablet) {
         gap: 20px;
      }

      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 32px;
   }

   &__link {
      @media (max-width: $sm-tablet) {
         width: 50px;
      }

      svg {
         width: 100%;
         height: 100%;
         object-fit: cover;

         path {
            fill: $white;
            transition: fill .2s ease-in-out;
         }
      }

      &:hover path {
         fill: $orange;
      }
   }
}

.elements {
   position: absolute;
   width: 100%;
   height: 100%;

   .element {
      position: absolute;
   }

   &__donut {
      @media (max-width: $tablet) {
         top: -60px;
         right: -90px;
      }

      top: 0;
      right: 0;
   }

   &__donut-min {
      left: 0;
      bottom: -3px;
      z-index: -1;
   }

   &__circle {
      @media (max-width: $sm-desktop) {
         display: none;
      }

      top: 165px;
      left: 110px;
      animation: scale 10s ease-in-out infinite;
   }

   &__lines {
      top: 0;
      right: 484px;
   }

   &__squares-big {
      @media (max-width: $tablet) {
         display: none;
      }

      bottom: 178px;
      right: 100px;
   }

   &__squares-min {
      @media (max-width: $sm-desktop) {
         top: 150px;
         left: -70px;
      }
      @media (max-width: $sm-tablet) {
         display: none;
      }


      left: 0;
      top: 73px;
   }

   &__square-1 {
      @media (max-width: $tablet) {
         left: 430px;
         top: 172px;
      }
      @media (max-width: $sm-tablet) {
         left: auto;
         right: 30px;
      }


      left: 130px;
      top: 322px;

      img {
         transform-origin: center;
         animation: antiSpin 10s linear infinite;

      }
   }

   &__square-2 {
      @media (max-width: $tablet) {
         left: 130px;
         top: 672px;
      }
      @media (max-width: $sm-tablet) {
         left: 30px;
         top: 540px;
      }


      bottom: 112px;
      left: 50%;
      right: 50%;

      img {
         transform-origin: center;
         animation: spin 16s linear infinite;

      }
   }

   &__square-3 {
      @media (max-width: $tablet) {
         right: 96px;
         top: auto;
         bottom: 300px;
      }
      @media (max-width: $sm-tablet) {
         bottom: 400px;
      }


      right: 336px;
      top: 391px;

      img {
         transform-origin: center;
         animation: antiSpin 8s linear infinite;

      }
   }

   @keyframes spin {
      from {
         transform: rotate(0deg);
      }
      to {
         transform: rotate(360deg);
      }
   }

   @keyframes antiSpin {
      from {
         transform: rotate(0deg);
      }
      to {
         transform: rotate(-360deg);
      }
   }

   @keyframes scale {
      0%, 100% {
         transform: scale(1);
      }
      50% {
         transform: scale(1.1);
      }
   }

}